<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bloodlib.workflow.mapper.VOutputUserFsyhBloodtypeMapper">
  <resultMap id="BaseResultMap" type="com.bloodlib.workflow.model.VOutputUserFsyhBloodtype">
    <result column="User_Id" jdbcType="BIGINT" property="userId" />
    <result column="User_Name" jdbcType="VARCHAR" property="userName" />
    <result column="Home_Address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="identity_Card" jdbcType="VARCHAR" property="identityCard" />
    <result column="Tel" jdbcType="VARCHAR" property="tel" />
    <result column="EMail" jdbcType="VARCHAR" property="email" />
    <result column="Sex" jdbcType="INTEGER" property="sex" />
    <result column="Area_Id" jdbcType="BIGINT" property="areaId" />
    <result column="Login_Name" jdbcType="VARCHAR" property="loginName" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="Role_Id" jdbcType="BIGINT" property="roleId" />
    <result column="Certificate_Type" jdbcType="INTEGER" property="certificateType" />
    <result column="Certificate_Code" jdbcType="VARCHAR" property="certificateCode" />
    <result column="Blood_Type_Id" jdbcType="BIGINT" property="bloodTypeId" />
    <result column="Output_Type" jdbcType="VARCHAR" property="outputType" />
  </resultMap>
  <insert id="insert" parameterType="com.bloodlib.workflow.model.VOutputUserFsyhBloodtype">
    insert into v_output_user_fsyh_bloodtype (User_Id, User_Name, Home_Address, 
      identity_Card, Tel, EMail, 
      Sex, Area_Id, Login_Name, 
      Password, Role_Id, Certificate_Type, 
      Certificate_Code, Blood_Type_Id, Output_Type
      )
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{identityCard,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{areaId,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT}, #{certificateType,jdbcType=INTEGER}, 
      #{certificateCode,jdbcType=VARCHAR}, #{bloodTypeId,jdbcType=BIGINT}, #{outputType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bloodlib.workflow.model.VOutputUserFsyhBloodtype">
    insert into v_output_user_fsyh_bloodtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        User_Id,
      </if>
      <if test="userName != null">
        User_Name,
      </if>
      <if test="homeAddress != null">
        Home_Address,
      </if>
      <if test="identityCard != null">
        identity_Card,
      </if>
      <if test="tel != null">
        Tel,
      </if>
      <if test="email != null">
        EMail,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="areaId != null">
        Area_Id,
      </if>
      <if test="loginName != null">
        Login_Name,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="roleId != null">
        Role_Id,
      </if>
      <if test="certificateType != null">
        Certificate_Type,
      </if>
      <if test="certificateCode != null">
        Certificate_Code,
      </if>
      <if test="bloodTypeId != null">
        Blood_Type_Id,
      </if>
      <if test="outputType != null">
        Output_Type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null">
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="certificateType != null">
        #{certificateType,jdbcType=INTEGER},
      </if>
      <if test="certificateCode != null">
        #{certificateCode,jdbcType=VARCHAR},
      </if>
      <if test="bloodTypeId != null">
        #{bloodTypeId,jdbcType=BIGINT},
      </if>
      <if test="outputType != null">
        #{outputType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>